.search-bar-wrapper{
    position: relative;
    display: inline-block;
}

.search-input{
    width: 220px;
    height: 30px;
    padding-left: 40px;
    border-radius: 5px;
    border: 1px solid black;
    box-sizing: border-box;
}

.search-input:hover{
    border: 2px solid blue;
}

.search-img{
    position: absolute;
    cursor: pointer;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; 
    height: 20px; 
    pointer-events: none; 
}