<div class="appointment-wrapper">
    
    <app-sidebar></app-sidebar>
    
    <div class="appointment-panel">

        <app-header></app-header>

        <div class="appointment">

            <div class="theme-of-page">

                <h2>Appointment</h2>

            </div>

            @if (isLoading) {
                <app-loader></app-loader>
            }@else {

            <div class="appointment-table-wrapper">

                <div class="table-theme">
                    <h3>Your Appointments</h3>

                    <app-search-bar (searchEvent)="handleSearch($event)"></app-search-bar>
                </div>

                <table id="myTable">
                    <thead>
                        <tr>
                            <th>Patient Name 
                                <span class="sort-arrows_1">
                                    <span class="arrow-down" (click)="sortTable(0)">⭣</span>
                                </span>
                            </th>
                            <th>Cabinet Location 
                                <span class="sort-arrows_2">
                                    <span class="arrow-down" (click)="sortTable(1)">⭣</span>
                                </span>
                            </th>
                            <th>Appointment Type 
                                <span class="sort-arrows_3">
                                    <span class="arrow-down" (click)="sortTable(2)">⭣</span>
                                </span>
                            </th>
                            <th>Check-In 
                                <span class="sort-arrows_4">
                                    <span class="arrow-down" (click)="sortTable(3)">⭣</span>
                                </span>
                            </th>
                            <th>Time 
                                <span class="sort-arrows_5">
                                    <span class="arrow-down" (click)="sortTable(4)">⭣</span>
                                </span>
                            </th>
                        </tr>
                    </thead>                    
                    <tbody>
                        @for (appointment of paginatedAppointments; track appointment.id) {
                        <tr>
                            <td class = "patient-name">{{appointment.patient_Name}}</td>
                            <td class="cabinet-location">{{appointment.cabinet_Location}}</td>
                            <td class="appointment-type">{{appointment.appointment_Type}}</td>
                            <td class="yes">{{appointment.check_In}}</td>
                            <td class = "time">{{appointment.time}}</td>
                        </tr>
                    }
                    </tbody>
                </table>


                

                <app-pagination [totalPages]="totalPages"
                                [currentPage]="currentPage"
                                [shownOnPage]="shownOnPage"
                                [totalInfo]="totalInfo"
                                (pageChanged)="onPageChange($event)">
                </app-pagination>

            </div>
        }

        </div>

    </div>
</div>