.general-report-theme{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.change-view-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.progress-wrapper{
    font-family: "Kanit", sans-serif;
    margin-top: 20px;
}

.progress-name{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.animated-progress {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    background: #E0E9F4;
    overflow: hidden;
    position: relative;
  }
  
.animated-progress span {
    height: 40px;
    display: block;
    width: 0;
    color: rgb(255, 251, 251);
    line-height: 30px;
    position: absolute;
    text-align: end;
    padding-right: 5px;
  }
  
.progress-1 span {
    background-color: #CA79C6;
}

.progress-2 span {
    background-color: #79CFA6;
}

.progress-3 span {
    background-color: #77BEEB;
}

.progress-4 span {
    background-color: #FF706F;
}

.change-view-img{
    width: 30px;
    height: 30px;
}