.pdf-file-viewer {
    display: flex;
    align-items: center;
    width: 100px;
    height: 20px;
    gap: 10px;
    background-color: rgb(255, 254, 254);
    font-family: "Kanit", sans-serif;
    margin-bottom: 30px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  