<div class="patient-page-wrapper">

    <app-side-menu></app-side-menu>
    
    <div class="page-content-wrapper">

        <app-header></app-header>

        <div class="main-content">

            <div class="theme-of-page">

                <h2>Profile</h2>

            </div>

            <div class="profile-content-wrapper">

                <div class="profile-content-theme">

                    <div class="text-theme">
                        <h3>Patient Information</h3>
                    </div>

                    <div class="buttons">

                        <button routerLink="/AddPatient" class="add-patient">Add Patient</button>

                        <button routerLink="/Patient" class="patient-list">Patient List</button>

                    </div>

                </div>

                <div class="avatar-maininfo-content">

                    <div class="patient-avatar">

                        <img class = "patient-pht" src="assets\avatar-patient.svg" alt="patient-photo">

                    </div>

                    <div class="patient-info">
                        
                        <div class="about-info">
                        
                            <div class="theme">
                                <h3>About Patient</h3>
                            </div>

                            <div class="about-content-text">
                                <span class = "about-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                            </div>

                        </div>

                        <div class="contact-info">

                            <div class="email">

                                <h3>Email</h3>

                                <span class ="contact-span">patient.email.com</span>

                            </div>

                            <div class="mobile-phone">

                                <h3>Mobile Phone</h3>

                                <span class ="contact-span">+123456678</span>

                            </div>

                            <div class="adress">
                                
                                <h3>Adress</h3>

                                <span class ="contact-span">345, Sarju Appt., Mota Varacha, Surat Gujarat, India</span>
                                
                            </div>

                        </div>

                    </div>

                </div>

                <div class="additional-info-content">

                    <div class="past-visit-table">

                        <h3>Past Visit History</h3>
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Doctor</th>
                                        <th>Threatment</th>
                                        <th>Charges</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>12.12.2021</td>
                                    <td>Doctor Name</td>
                                    <td class = "td-threatment">
                                        <div class="threatment">
                                            <span>X-Ray</span>
                                        </div>
                                    </td>
                                    <td>120$</td>
                                    <td>
                                        <button class="delete-visit">
                                            <img src="assets\trash.svg" alt="" class="delete-img">
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>12.12.2021</td>
                                    <td>Doctor Name</td>
                                    <td class = "td-threatment">
                                        <div class="threatment">
                                            <span>X-Ray</span>
                                        </div>
                                    </td>
                                    <td>120$</td>
                                    <td>
                                        <button class="delete-visit">
                                            <img src="assets\trash.svg" alt="" class="delete-img">
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>12.12.2021</td>
                                    <td>Doctor Name</td>
                                    <td class = "td-threatment">
                                        <div class="threatment">
                                            <span>X-Ray</span>
                                        </div>
                                    </td>
                                    <td>120$</td>
                                    <td>
                                        <button class="delete-visit">
                                            <img src="assets\trash.svg" alt="" class="delete-img">
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>12.12.2021</td>
                                    <td>Doctor Name</td>
                                    <td class = "td-threatment">
                                        <div class="threatment">
                                            <span>X-Ray</span>
                                        </div>
                                    </td>
                                    <td>120$</td>
                                    <td>
                                        <button class="delete-visit">
                                            <img src="assets\trash.svg" alt="" class="delete-img">
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>12.12.2021</td>
                                    <td>Doctor Name</td>
                                    <td class = "td-threatment">
                                        <div class="threatment">
                                            <span>X-Ray</span>
                                        </div>
                                    </td>
                                    <td>120$</td>
                                    <td>
                                        <button class="delete-visit">
                                            <img src="assets\trash.svg" alt="" class="delete-img">
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>12.12.2021</td>
                                    <td>Doctor Name</td>
                                    <td class = "td-threatment">
                                        <div class="threatment">
                                            <span>X-Ray</span>
                                        </div>
                                    </td>
                                    <td>120$</td>
                                    <td>
                                        <button class="delete-visit">
                                            <img src="assets\trash.svg" alt="" class="delete-img">
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>12.12.2021</td>
                                    <td>Doctor Name</td>
                                    <td class = "td-threatment">
                                        <div class="threatment">
                                            <span>X-Ray</span>
                                        </div>
                                    </td>
                                    <td>120$</td>
                                    <td>
                                        <button class="delete-visit">
                                            <img src="assets\trash.svg" alt="" class="delete-img">
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>12.12.2021</td>
                                    <td>Doctor Name</td>
                                    <td class = "td-threatment">
                                        <div class="threatment">
                                            <span>X-Ray</span>
                                        </div>
                                    </td>
                                    <td>120$</td>
                                    <td>
                                        <button class="delete-visit">
                                            <img src="assets\trash.svg" alt="" class="delete-img">
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="general-report">

                        <h3>General Report</h3>

                        <div class="general-report-wrapper">
                            
                            <div class="progress-wrapper">

                                <div class="progress-name">
                                    <span>Sugar</span>
                                    <span>93</span>
                                </div>

                            </div>

                            <div class="progress-wrapper">
                                
                                <div class="progress-name">
                                    <span>Sugar</span>
                                    <span>93</span>
                                </div>

                            </div>

                            <div class="progress-wrapper">
                                
                                <div class="progress-name">
                                    <span>Sugar</span>
                                    <span>93</span>
                                </div>
                                
                            </div>

                            <div class="progress-wrapper">
                                
                                <div class="progress-name">
                                    <span>Sugar</span>
                                    <span>93</span>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>