<div class="login-wrapper">
    <div class="login-form-container">
        <div class="welcome-text">
            <h2>Welcome Back</h2>
            <span>Please enter your details</span>
        </div>

        <form id="loginForm" class="loginForm" method="post" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
       
            <input id="loginInfo" class="email-input" placeholder=" " type="text" formControlName="email">
            <label id="loginLabel" for="loginInfo">Email</label>
           

            <input id="passwordInfo" class="password-input" placeholder=" " type="password" formControlName="password">
            <label id="passwordLabel" for="passwordInfo">Password</label>
       
            <button type="submit" class="login-btn">Login</button>
        
        </form>
    </div>
</div>
