<div class="patient-page-wrapper">

    <app-sidebar></app-sidebar>
    
    <div class="page-content-wrapper">

        <app-header></app-header>

        <div class="main-content">

            <div class="theme-of-page">

                <h2>Profile</h2>

            </div>

            @if (isLoading) {
            <app-loader></app-loader>
            }

        
            @else {    
            <div class="profile-content-wrapper">

                <div class="profile-content-theme">

                    <div class="text-theme">
                        <h3>Patient Information</h3>
                    </div>

                    <div class="buttons">

                        <button routerLink="/AddPatient" class="add-patient">Add Patient</button>

                        <button routerLink="/Patient" class="patient-list">Patient List</button>

                    </div>

                </div>

                <div class="avatar-maininfo-content">

                    <div class="patient-avatar">

                        <img class = "patient-pht" src="assets\avatar-patient.svg" alt="patient-photo">

                    </div>

                    <div class="patient-info">
                        
                        <div class="about-info">
                        
                            <div class="theme">
                                <h3>About Patient</h3>
                            </div>

                            <div class="about-content-text">
                                <span class = "about-text">{{aboutPatient.aboutInfo}}</span>
                            </div>

                        </div>

                        <div class="contact-info">

                            <div class="email">

                                <h3>Email</h3>

                                <span class ="contact-span">{{aboutPatient.email}}</span>

                            </div>

                            <div class="mobile-phone">

                                <h3>Mobile Phone</h3>

                                <span class ="contact-span">{{ aboutPatient.phoneNumber| phoneFormat }}</span>

                            </div>

                            <div class="adress">
                                
                                <h3>Adress</h3>

                                <span class ="contact-span">{{aboutPatient.adress}}</span>
                                
                            </div>

                        </div>

                    </div>

                </div>

                <div class="additional-info-content">

                    <div class="past-visit-table">

                        <h3>Past Visit History</h3>
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Doctor</th>
                                        <th>Threatment</th>
                                        <th>Charges</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                   @for (pastVisit of patientPastVisit; track $index) 
                                   {

                                    <tr>
                                        <td>{{pastVisit.date}}</td>
                                        <td>{{pastVisit.doctorName}}</td>
                                        <td class = "td-threatment">
                                            <div class="threatment">
                                                <span>{{pastVisit.threatment}}</span>
                                            </div>
                                        </td>
                                        <td class = "charges">{{pastVisit.charges}}</td>
                                        <td>
                                            <button class="delete-visit">
                                                <img src="assets\trash.svg" alt="" class="delete-img">
                                            </button>
                                        </td>
                                    </tr>

                                   }

                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="general-report">

                        @if(id === 0)
                        {
                            <app-pdf-files></app-pdf-files>
                        }@else if(id === 1) {
                            <app-general-report></app-general-report>
                        }

                    </div>

                </div>

                <div class="patient-prediction">

                    <div class="patient-prediction-contenttbox">

                        <div class="theme-of-box">

                            <h3>The Patient's Current Request</h3>

                        </div>

                        <div class="visit-reason">

                            <h3>Patient Visit Reason</h3>
                        
                            <span class="reason-visit-text">{{patientCurrVisit.visitReason}}</span>

                        </div>

                        <div class="patient-symptoms">

                            <h3>Patient Symptoms</h3>
                            
                            <span class="patient-symptoms-text">{{patientCurrVisit.patientSymptoms}}</span>

                        </div>

                        <div class="patient-current-treatment">

                            <h3>Patient Current Treatment</h3>

                            <span class="patient-treatment-text">{{patientCurrVisit.currentThreatment}}</span>

                        </div>


                        <div class="ai-model-prediciton">

                            <h3>Our AI-Model Prediction</h3>

                            <div class="top-predict">
                                <canvasjs-chart [options]="chartOptions" [styles]="{width: '50%', height:'240px'}"></canvasjs-chart>        
                            </div>
                            

                        </div>

                    </div>

                </div>

            </div>}
        

        </div>

    </div>

</div>