
.wrapper
{
    display: flex;
    max-width: 120px;
    min-height: 100vh;
    background-color: #eceaea;
}

.menu 
{
    position: fixed;
    background-color:  #ECECEC;
    width: 70px;
    height: 94vh;
    padding: 20px 30px 20px 20px;
}

.name
{
    width: 95px;
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-size: small;
    
}

.photo {
    display: flex;
    position: fixed;
    width: 70px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 45px 
}

.avatar
{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
}

/*-------------------------------------------------------------------------------------------*/

.buttons {
    display: grid;
    margin-top: 200px;
    gap: 10px;
    justify-content: center;
    position: fixed;
    padding-left: 20px;
}

button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.home_btn,
.appointment,
.doctor,
.payment,
.team,
.patient,
.logout {
    background-color: white;
    border: none;
    border-radius: 10px;
    width: 40px;
    height: 40px;
}

.home_img {
    width: 20px;
    height: 20px;
}

.appintment_img,
.doctor_img,
.payment_img,
.team_img,
.logout_img,
.patient_img {
    width: 20px;
    height: 20px;
}

.appointment:hover,
.patient:hover,
.doctor:hover,
.payment:hover,
.logout:hover,
.team:hover,
.home_btn:hover
{
    min-width: 120px;
    border: 1px black solid;
    transition: width 0.9s ease-in-out;
}

.appointment span,
.home_btn span,
.patient span,
.payment span,
.logout span,
.team span,
.doctor span {
    display: none;
}

.appointment:hover span,
.home_btn:hover span,
.patient:hover span,
.payment:hover span,
.logout:hover span,
.team:hover span,
.doctor:hover span {
    display: inline;
    margin-left: 10px;
}