<div class="menu_wrapper">
    <div class="menu">
        <div class="menu_btns">
            <div class="photo">
                <img src="assets\avatar.png" alt="avatar" class="avatar">
                <p class="name">Doctor Name</p>
            </div>
            <div class="buttons">
                <button routerLink="/Dashboard" class="home_btn">
                    <img src="assets\dashboard-icon.svg" alt="home" class="home_img">
                    <span>Dashboard</span>
                </button>
                <button routerLink="/Appointment" class="appointment">
                    <img src="assets\appointment 1.svg" alt="appointment" class="appintment_img">
                    <span>Appointment</span>
                </button>
                <button routerLink="/Patient" class="patient">
                    <img src="assets\patient 1.svg" alt="patient" class="patient_img">
                    <span>Patient</span>
                </button>
                <button (click)="logOut()" class="logout">
                    <img src="assets\power 2.svg" alt="logout" class="logout_img">
                    <span>Log Out</span>
                </button>
            </div>
        </div>
    </div>
</div>

