.search-bar-wrapper{
    position: relative;
    display: inline-block;
}

.search-input{
    width: 220px;
    height: 30px;
    padding-left: 40px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    outline: none;
}

.search-input::placeholder{
    color: rgb(0, 0, 0);
}

.search-input:hover{
    border: 2px solid rgb(0, 0, 0);
}

.search-img{
    position: absolute;
    cursor: pointer;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; 
    height: 20px; 
    pointer-events: none; 
}